<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/style.css">
    <title>Email подтвержден</title>
</head>
<body>
	<div class="container">
    <h1>Email успешно подтвержден!</h1>
    <p>Вы будете перенаправлены на страницу входа через 5 секунд.</p>
	</div>
    <script>
        setTimeout(function() {
            window.location.href = "/";
        }, 5000); // Перенаправление через 5 секунд
    </script>
</body>
</html>
