<!-- createUser.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Создание нового пользователя</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }
        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            font-weight: bold;
        }
        input[type="text"], input[type="password"], input[type="checkbox"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
	<% if (typeof user === 'undefined') { %>
		<% var user = null; %>
<% } %>
    <div class="container">
			<%- include('menu.ejs') %>
        <h1>Создание нового пользователя</h1>
					<form action="/users/createUser" method="post">
            <label for="userlogin">Логин:</label>
            <input type="text" id="userlogin" name="userlogin" required>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <label for="username">Имя:</label>
            <input type="text" id="username" name="username">
            <label for="userstatus">Статус:</label>
						<select id="userstatus" name="userstatus">
							<option value="user">simpleUser</option>
							<option value="admin">admin</option>
						</select><br>
            <label for="balance">Баланс:</label>
            <input type="text" id="balance" name="balance">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <label for="phoneNumber">Телефон:</label>
            <input type="text" id="phoneNumber" name="phoneNumber">
            <label for="telegramm">Telegramm:</label>
            <input type="text" id="telegramm" name="telegramm">
            <label>Оповещение по Email:</label>
            <input type="checkbox" name="emailNotification">
            <label>Оповещение по WhatsApp:</label>
            <input type="checkbox" name="whatsappNotification">
            <label>Оповещение по Telegramm:</label>
            <input type="checkbox" name="telegramNotification">
            <label>Оповещение по Push-уведомлениям:</label>
            <input type="checkbox" name="pushNotification">
            <button type="submit">Создать пользователя</button>
        </form>
    </div>
</body>
</html>
