<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Сайт для интервального повторения информации. Поможет вам эффективно запоминать любую информацию и иностранные слова.">
    <meta name="keywords"
        content="интервальное повторение, запоминание информации, запоминание слов, запоминание иностранных слов, обучение, эффективное обучение, обучение с помощью интервалов, обучение с повторениями">
    <meta name="author" content="Райгель Владимир Александрович VRaygel">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Memboost Создание нового пользователя</title>

</head>

<body>
    <%- include('template.ejs') %>
        <%- include('menu.ejs') %>
            <div class="container">
                <div class="wrapper">
                    <h1>Создание нового пользователя</h1>
                    <form action="/admin/createUser" method="post">
                        <label for="userlogin">Логин:</label>
                        <input class="admin_input" type="text" id="userlogin" name="userlogin" required>
                        <label for="password">Пароль:</label>
                        <input class="admin_input" type="password" id="password" name="password" required>
                        <label for="username">Имя:</label>
                        <input class="admin_input" type="text" id="username" name="username">
                        <label for="userstatus">Статус:</label>
                        <select id="userstatus" name="userstatus">
                            <option value="user">simpleUser</option>
                            <option value="admin">admin</option>
                        </select><br><br>
                        <label for="memoCoin">Баланс:</label>
                        <input class="admin_input" type="text" id="memoCoin" name="memoCoin">
                        <label for="maxDictionaries">Максимум словарей:</label>
                        <input class="admin_input" type="text" id="dictionariesMax" name="dictionariesMax">
                        <label for="wordsMax">Максимум Слов:</label>
                        <input class="admin_input" type="text" id="wordsMax" name="wordsMax">
                        <label for="email">Email:</label>
                        <input class="admin_input" type="text" id="email" name="email">
                        <label for="phoneNumber">Телефон:</label>
                        <input class="admin_input" type="text" id="phoneNumber" name="phoneNumber">
                        <label>Оповещение по Email:</label>
                        <input type="checkbox" name="emailNotification"><br>
                        <label>Оповещение по WhatsApp:</label>
                        <input type="checkbox" name="whatsappNotification"><br>
                        <label>Оповещение по Telegramm:</label>
                        <input type="checkbox" name="telegramNotification"><br>
                        <label>Оповещение по Push-уведомлениям:</label>
                        <input type="checkbox" name="pushNotification"><br>
                        <button type="submit">Создать пользователя</button>
                    </form>
                </div>
            </div>
            <%- include('footer.ejs') %>
</body>

</html>