<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>Memoria Добавить новое слово</title>
</head>

<body>
	<div class="container">
		<%- include('menu.ejs') %>
		<h1>Добавить новое слово</h1>
		<form action="/dictionaries/updateDictionary/<%= dictionary._id %>" method="POST">
			<label for="word">Слово:</label>
			<textarea type="text" id="word" name="word" value="<%= dictionary.word %>" required></textarea>
			<!-- <textarea name="" id="" cols="30" rows="10"> -->
			<label for="translation">Перевод:</label>
			<textarea type="text" id="translation" name="translation" value="<%= dictionary.translation %>"
				required></textarea>
			<button class="create-button" type="submit">Сохранить</button>
		</form>
	</div>
</body>

</html>