<footer>

	<div class="footer__content">
		<!-- <div class="footer__link">
			<a href="/user/feedback">Обратная связь</a>
		</div> -->

		<div class="footer__author">
			<img class="footer__author-img" src="/image/Logo_VR_white.png" alt="">
			<span>aygel</span>
		</div>
	</div>

</footer>