<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Memoria Сброс пароля</title>
</head>
<body>
    <%- include('template.ejs') %>
    <%- include('menu.ejs') %>
    <div class="container">
			
        <h1>Сброс пароля</h1>
       
        <form class="password" action="/password/forgotPassword" method="post">
            <h2>Введите ваш email, чтобы сбросить пароль.</h2>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="example@example.com" required><br>
            <button class="edit-button" type="submit">Отправить</button>
        </form>
    </div>
</body>
</html>
