<nav class="menu">

	<% if (typeof user === 'undefined') { %>
			<% var user = false; %>
	<% } %>



	<% if (user) { %>
			<a href="/dictionaries"><button>Мои Термины</button></a>
			<a href="/user/profile"><button>Профиль</button></a>
			<a href="/auth/logout"><button>Выйти</button></a>
			<% if (user.userstatus == 'admin') { %>
        <a href="/admin"><button>Админ</button></a>
    <% } %>
		
	<% } else { %>
			<a href="/auth/login"><button>Вход</button></a>
			<a href="/auth/register"><button>Регистрация</button></a>
	<% } %>
</nav>





			
			
			
			