<nav class="menu">


			<a href="/dictionaries">Мои Словари</a>
			<a href="/profile">Профиль</a>
		
					<a href="/admin">Админ</a>
	
			<a href="/auth/login">Вход</a>
			<a href="/auth/register">Регистрация</a>
	
</nav>




