<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Сайт для интервального повторения информации. Поможет вам эффективно запоминать любую информацию и иностранные слова.">
    <meta name="keywords"
        content="интервальное повторение, запоминание информации, запоминание слов, запоминание иностранных слов, обучение, эффективное обучение, обучение с помощью интервалов, обучение с повторениями">
    <meta name="author" content="Райгель Владимир Александрович VRaygel">
    <link rel="icon" href="/image/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Memboost Профиль</title>
</head>

<body>
    <%- include('template.ejs') %>
        <%- include('menu.ejs') %>
            <div class="container">
                <div class="wrapper">
                  <form class="form-register" action="/auth/register" method="post">
										<label for="email">Имя:</label>
										<input type="text" name="username" placeholder="Имя" required>
										<label for="email">Логин:</label>
										<input type="text" name="userlogin" placeholder="Логин" required>
										<label for="email">Email:</label>
										<input type="email" name="email" placeholder="Email" id="email" oninput="validateEmail(this)">
										<span class="error-message" id="emailErrorMessage" style="display: none;">Некорректный формат email</span>
										<label for="email">Пароль:</label>
										<input class="last-input" type="password" name="password" placeholder="Пароль" required>
										<button class="register-button" type="submit">Зарегистрироваться</button>
									</form>
                </div>
            </div>

            <script src="/js/script.js"></script>
            <%- include('footer.ejs') %>
</body>

</html>