<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Установка нового пароля</title>
</head>
<body>
    <%- include('template.ejs') %>
    <%- include('menu.ejs') %>
    <div class="container">
		
        <h1>Установка нового пароля</h1>
        <form class="password" action="/password/resetPassword/<%= token %>" method="post">
            <label for="password">Новый пароль:</label>
            <input type="password" id="password" name="password" placeholder="Новый пароль" required><br>
            <label for="confirmPassword">Подтвердите пароль:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Подтвердите пароль" required><br>
            <button class="edit-button" type="submit">Сохранить пароль</button>
        </form>
    </div>
</body>
</html>
