<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<% if (messages.length > 0) { %>
		
			
	
		<div id="popup" class="overlay popup">
		<div class="modal">
			
				<p class="error"><%= messages[0] %></p>
				<button id="closeButton">Закрыть</button>
		</div>

  </div>  

<% } %>
<script>
	
</script>


<script src="/js/script.js"></script>
</body>

</html>