	<% if (messages.length> 0) { %>
		<div id="popup" class="overlay popup">
			<div class="modal">

				<p class="message">
					<%= messages[0] %>
				</p>
				<button class="closeButton_popup" id="closeButton">Закрыть</button>
			</div>
		</div>
		<% } %>
			<!-- <script>
				// Скрытие шаблона через 5 секунд
				setTimeout(hidePopup, 5000);
			</script> -->
