html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
 max-width: 100%;
}

ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

h1, h2, h3, p {
 margin: 0;
}

body {
 width: 1024px;
 margin: 0 auto;
 color: #eaeaea;
 background-color: #303030;
 font-family: 'font', sans-serif;
}

.flex {
 display: flex;
}

.none {
 display: none;
}

.header {
 margin-bottom: 20px;
 background-color: #222222;
 border-radius: 8px;
}

.header__nav {
 padding: 20px 0;
}

.header__list {
 justify-content: space-evenly;
}

.header__item {
 width: 150px;
}

.header__link {
 text-align: center;
 padding: 10px 20px;
 background-color: #535353;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}


.header__link:hover {

}

.section {
 min-height: calc(100vh - 100px);
 padding: 16px;
 background-color: #2f4f4f;
 border: 2px solid #222222;
 border-radius: 8px;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
}

/* главная страница */

.index__title {
 margin-bottom: 40px;
 text-align: center;
 white-space: pre-line;
}

.index__title_secondary {
 margin-bottom: 20px;
}

.index__text {
 margin-bottom: 40px;
 white-space: pre-line;
}
.index__text:last-child {
 margin-bottom: 0;
}

.index__text_bold {
 font-weight: bold;
}

/* страница список разделов */


.sections__title_invisible {
 display: none;
}

.sections__title {
 margin-bottom: 20px;
}

.section__nav-list {
 gap: 20px;
 justify-content: end;
}

.sections__nav-btn {
 all: unset;
 color: #C1AA96;
 cursor: pointer;
}

.sections__nav-link, .sections__link {
 color: #C1AA96;
}

.sections__link-margin {
	display: block;
	margin-bottom: 20px;
}

.sections__link-forgot {
 margin-bottom: 40px;
}

.section__list-item {
 margin-bottom: 10px;
 padding: 10px;
 padding-top: 10px;
 border: solid 2px #303030;
 border-radius: 8px;
 /* cursor: pointer; */
 transition: color 0.2s ease-in;
}

.section__list-item:last-child {
 margin-bottom: 0;
}

.sections__list-tertiary:hover {
 color: #febb38;
}

.sections__list-information {
 margin-bottom: 20px;
 align-items: center;
 gap: 20px;
}

/* создание нового раздела (переименование раздела) */

.sections__form {
 flex-direction: column;
}

.sections__form-label {
 margin-bottom: 10px;
}

.sections__form-input {
 padding: 12px;
 margin-bottom: 20px;
 border: 2px solid #222222;
 border-radius: 8px;
 font-size: 16px;
}

.sections__form-input:hover {
 border: 2px solid #009639;
 outline: 2px solid #eaeaea;
}


.sections__form-input:focus {
 border: 2px solid #009639;
 outline: 2px solid #eaeaea;
}


.sections__form-input-last {
margin-bottom: 40px;
}

.sections__form-btn {
 min-width: 100%;
 padding: 10px 20px;
 background-color: #535353;
 font-size: 16px;
 color: #fff;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 transition: background-color 0.2s ease-in
}

.sections__form-btn:hover {
 background-color: #3b444b;
}

.sections__form-btn-margin {
	margin-bottom: 20px;
}

/* .flex {
 display: flex;
} */

.glossary {
 width: 100%;
 justify-content: space-between;
 gap: 20px;
}

.glossary__term {
 flex-basis: 50%;
 flex-grow: 1;
 flex-shrink: 1;
}

.glossary__definition {
 flex-basis: 50%;
 flex-grow: 1;
 flex-shrink: 1;
}

.glossary__text {
 max-height: 100px; /* ограничение высоты */
 white-space: pre-line;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 3; /* количество строк */
 -webkit-box-orient: vertical;
 cursor: pointer;
}

.glossary__text_visible {
 max-height: 100%;
 display: block;
}

.sections__list_last-item {
 margin-right: auto;
}

.section__form-excel {
 margin-bottom: 20px;
 flex-direction: column;
 /* justify-content: space-between; */
 gap: 20px;
}

.section__form-excel * {
 flex-grow: 1;
 flex-shrink: 1;
}


.section__file-form {
 position: relative;
}

.section__btn {
 border: 0;
 display: inline-block;
 padding: 10px 20px;
 color: #eaeaea;
 cursor: pointer;
 text-align: center;
 background-color: #535353;
 font-size: 16px;
 border-radius: 8px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}


.section__btn_wide {
 width: 100%;
}

.section__btn_wide:not(:last-child) {
 margin-bottom: 20px;
}

.section__form--wrapper {
 margin-bottom: 60px;
 border-radius: 8px;
 border: 2px solid #303030;
 padding: 16px;
 width: 100%;
}

.sections__file_label {
 padding: 10px 20px;
 text-align: center;
 color: #eaeaea;
 cursor: pointer;
 background-color: #535353;
 border-radius: 8px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.file-upload__label:hover {
 background-color: #3b444b;;
}

.sections__file-input {
 display: none;
 /* position: absolute;
 width: fit-content;
 height: 100%;
 top: 0;
 left: 0;
 opacity: 0;
 cursor: pointer; */
}


.section__form--inner {
 width: 100%;
 margin-left: auto;
 margin-bottom: 20px;
 text-align: right;
 display: flex;
 justify-content: flex-end;
}

.section__form--label-file {
 cursor: pointer;
 color: #C1AA96;
 margin-left: 20px;
}

.section__form--input-file {
 display: none;
}

.section__desc {
 width: 100%;
 min-height: 100px;
 resize: vertical;
 overflow: hidden;
 padding: 12px;
 margin-bottom: 20px;
 border: 2px solid #144414;
 border-radius: 8px;
 font-size: 16px;
 /* outline: none; */
 /* outline: 2px solid #144414; */
}

.section__desc:hover {
 border: 2px solid #009639;
 outline: 2px solid #eaeaea;
}

.section__desc:focus {
 border: 2px solid #009639;
 outline: 2px solid #eaeaea;
}


.section__label {
 display: block;
 min-width: 100px;
 margin-bottom: 10px;
}

/* регистрация/авторизация */

.section__login {
 position: relative;
 /* perspective: 1000px; */
}

.container {
 /* position: relative; */
 /* border: 2px solid #fff; */
 height: 500px;
 display: flex;
 justify-content: center;
 transform-style: preserve-3d;
 transition: all 600ms ease-out; 
 -webkit-perspective: 1000;
 perspective: 1000;
}



.section__form-login, .section__form-register, .section__form-password {
 position: absolute;
 top: 50px;
 margin: 0 auto;
 padding: 10px;
 width: 480px;
 /* height: 380px; */
 display: flex;
 /* flex-wrap: wrap; */
 flex-direction: column;
 border: 2px solid #222222;
 border-radius: 8px;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
}

.form-rotate {
 /* transform: translate3d(0, -50%, 35px) perspective(100px); */
 transform: rotateY(180deg);
}



.section__form-register {
 /* background-color: #222222; */
 transform: rotateY(180deg);

}

.header__item-inner {
 position: relative;
 z-index: 10;
 display: flex;
 justify-content: center;
 transform-style: preserve-3d;
 transition: all 600ms ease-out; 
}

.header__link-login, .header__link-signup {
 position: absolute;
 top: 0;
 /* left: 0; */
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
}


.header__item-inner-rotate {
 /* transform: translate3d(0, -50%, 35px) perspective(100px); */
 transform: rotateY(180deg);
}


.header__link-signup {
 transform: rotateY(180deg);
}



.section__form-password-container {
 position: relative;
}

.toggle-password {
 position: absolute;
 right: 10px;
 top: 50%;
 transform: translateY(50%);
 background: none;
 border: none;
 cursor: pointer;
}

.section__form-email-container, .section__form-password-container {
 position: relative;
 flex-direction: column;
 margin-bottom: 20px;
}

.section__form-email-container input, .section__form-password-container input {
 margin-bottom: 0;
}


.sections__form-error-message {
 position: absolute;
 top: 20px;
 display: none;
 color: #B71C1C;
}



.slideThree {
 width: 75px;
 height: 26px;
 background: #333;
 position: relative;
 border-radius: 50px;
 box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
 content: 'OFF';
 color: #B71C1C;
 position: absolute;
 right: 10px;
 z-index: 0;
 font: 12px/26px Arial, sans-serif;
 font-weight: bold;
 text-shadow: 1px 1px 0px rgba(0, 0, 0, .50);
}

.slideThree:before {
 content: 'ON';
 color: #5cb85c; /* Насыщенно зеленый цвет */
 position: absolute;
 left: 10px;
 z-index: 0;
 font: 12px/26px Arial, sans-serif;
 font-weight: bold;
 text-shadow: 1px 1px 0px rgba(0, 0, 0, .50);
}

.sections__form-checkbox {
 display: block;
 width: 34px;
 height: 20px;
 cursor: pointer;
 position: absolute;
 top: 3px;
 left: 3px;
 z-index: 1;
 background: #fcfff4;
 background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
 border-radius: 50px;
 transition: all 0.4s ease;
 box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.slideThree input[type=checkbox] {
 visibility: hidden;
}

.slideThree input[type=checkbox]:checked + label {
 left: 38px;
}

.section__form-inner {
 align-items: center;
 margin-bottom: 20px;
}

.sections__form-label-margin-right {
 min-width: 200px;
 margin-bottom: 0;
 margin-right: 20px;
}

.section__study {
	margin-bottom: 20px;
}

.section__study-text {
	white-space: pre-line;
}


.footer__author {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-left: 60px;
}

.footer__author-img {
	width: 30px;
	margin-left: 20px;
}

.footer__content {
	display: flex;
	background-color: #222222;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 20px 60px;
	align-items: center;
	justify-content: flex-end;
}




/* Стили для всплывающей подсказки */
.telegrammTooltip {
	width: 100%;
	display: none;
	/* position: absolute; */
	background-color: #303030;
	border: 1px solid #303030;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 999;
}

.telegrammTooltip .closeTooltip {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}


#overlayImg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3); /* затемнение */
	z-index: 9999; /* устанавливаем поверх остальных элементов */
}

#enlargedImg {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	height: 250px;
	z-index: 10000; /* устанавливаем поверх затемнения */
}

#enlargedAudio {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* width: 100px;
	height: 100px; */
	z-index: 10000; /* устанавливаем поверх затемнения */
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modal {
	position: fixed;
	background-color: #303030;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 33%;
	/* Ширина модального окна */
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1001;
}

.modal p {
	margin-bottom: 20px;
	border-radius: 8px;
}

.closeButton_popup {
	width: 100%;
}

.myDiv {
	display: none;
	height: auto;
}


.hamburger {
	cursor: pointer;
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.3s ease-in-out;
}

.line {
	height: 5px;
	background-color: #333;
	transition: all 0.3s ease-in-out;
}

#hamburger-11.is-active {
	animation: smallbig 0.6s forwards;
}

@keyframes smallbig {
	0%, 100% {
			transform: scale(1);
	}
	50% {
			transform: scale(0);
	}
}

#hamburger-11.is-active .line:nth-child(2) {
	opacity: 0;
}

#hamburger-11.is-active .line:nth-child(1) {
	transform: translateY(13px) rotate(45deg);
}

#hamburger-11.is-active .line:nth-child(3) {
	transform: translateY(-13px) rotate(-45deg);
}




@media screen and (min-width: 768px) and (max-width: 1023px) {

	body {
		width: 100%;
		font-size: 2vw;
	}

	.section__form-login, .section__form-register, .section__form-password {
		width: 100%;
	 }

}

@media screen and (min-width: 340px) and (max-width: 767px) {

	body {
		width: 100%;
		font-size: 3vw;

	}

	.section__form-login, .section__form-register, .section__form-password {
		width: 100%;
	 }
}

@media screen and (max-width: 339px) {
	body {
		width: 100%;
		font-size: 4.71vw;
	}

	.section__form-login, .section__form-register, .section__form-password {
		width: 100%;
	 }
}