* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* outline: solid red; */
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #eaeaea;
	width: 1024px;
	margin: 0 auto;
	/* font-family: 'Roboto', sans-serif; */
	background-color: #303030;
}

a {
	/* color: #eaeaea; */
	color: #C1AA96;
	text-decoration: none;
}

a:hover {
	color: #febb38;
	text-decoration: none;
}

.sndon{
/* background-color: #2f4f4f; */
/* background-color: red; */
background-image: url(/image/png-transparent-loudspeaker-sound-computer-icons-noise-symbol.png);
background-size: cover;
display: inline-block;
height: 15px;
width: 15px;
margin-right: 6px;
cursor: pointer;
}

.word{
	font-size: 1.2em;
	vertical-align: top;
	width: 100%;
	cursor: pointer;
	white-space: pre-line;
  transition: height 1s ease; /* Плавное изменение высоты */
	color: #C1AA96;
}

.word_min{
	max-height: 50px;
}

.word_max{
	height: auto; 
}

.wordImage, .wordAudio{
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.wordImage_edit{
	margin-bottom: 10px;
}

.menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #222222;
	padding: 20px 24px;
}

.container {
	margin: 0 auto;
	padding: 40px;
	border: 2px solid #222222;
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
}

h1 {
	/* margin-top: 20px; */
}

h1,
h2,
h3 {
	text-align: center;
	margin-bottom: 40px;
}

button {
	padding: 10px 20px;
	background-color: #535353;
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #3b444b;
}

.fileInput{
	display: none;
}

.login-button,
.register-button {
	width: 100%;
}

.forgot-password {
	font-size: 16px;
	margin-left: auto;
	margin-bottom: 40px;
}

.deleteProfil {
	font-size: 16px;
	margin-left: 20px;
	display: flex;
	justify-content: flex-end;
}

.login,
.form-register,
.password {
	width: 480px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 32px;
	border: 2px solid #222222;
	background-color: #2f4f4f;
	border-radius: 8px;
}

.login input,
.form-register input,
.password input {
	width: 100%;
	margin-bottom: 20px;
	appearance: none;
	font-size: 16px;
}

.login label,
.form-register label,
.password label {
	margin-bottom: 10px;
}

.newDictonaries {
	margin-bottom: 60px;
}

.newDictonaries form {
	display: flex;
	flex-direction: column;
}

.newDictonaries label {
	margin-bottom: 10px;
}

.newDictonaries input {
	font-size: 16px;
}

input,
textarea {
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #222222;
	border-radius: 8px;
	font-size: 16px;
}

textarea {
	width: 100%;
	min-height: 100px;
	resize: vertical;
	overflow: hidden;

}

.admin_input {
	width: 100%;
}

.container .last-input {
	margin-bottom: 60px;
}

.wrapper {
	background-color: #2f4f4f;
	width: 100%;
	border-radius: 8px;
	padding: 16px;
	/* padding-bottom: 40px; */
}

.balanceInfo {
	margin-bottom: 60px;
	border-radius: 8px;
	border: 2px solid #303030;
	padding: 16px;
	width: 100%;
}

.purchase {
	width: 100%;
	margin-left: auto;
	margin-bottom: 20px;
	text-align: right;
	display: flex;
	justify-content: flex-end;
}

.newDictonaries_none {
	display: none;
}

.profilInfo {
	display: flex;
	flex-direction: column;
}

.profilInfo input {
	margin-bottom: 20px;
	font-size: 16px;
}

.profilInfo label {
	margin-bottom: 10px;
}

.delete-button {
	all: unset;
}

.delete-button a {
	cursor: pointer;
}

.delete-button:hover {
	all: unset;
}

.label_fileInput{
	cursor: pointer;
	color: #C1AA96;
	margin-left: 20px;
}

.label_fileInput:hover {
	color: #febb38;
}

/* .header_h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

/* .balanceInfo p {
	margin-bottom: 10px;
} */

.userInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.userInfo label {
	min-width: 80px;
}

.updateAlerts {
	display: flex;
}

.updateAlerts_checkbox {
	margin-right: 20px;
}

.edit-button,
.create-button {
	margin-top: 20px;
	min-width: 100%;
}

.logout {
	margin-left: auto;
	margin-top: 80px;
}

.dictionary {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.dictionaries_h2 {
	text-align: left;
	margin-bottom: 0;
	/* color: #eaeaea; */
}

.dictionary_form {
	margin-bottom: 20px;
}

.updateDictionary textarea {
	margin-bottom: 20px;
}

.updateWord textarea {
	margin-bottom: 20px;
}

.updateWord label {
	display: inline-block;
	margin-bottom: 10px;
}

.updateDictionary_label {
	min-width: 100px;
	margin-bottom: 10px;
}

.studyWord {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.studyWord label {
	display: inline-block;
	margin-bottom: 10px;
	color: #febb38
}

.studyWord input {
	display: inline-block;
	margin-bottom: 20px;
}

.flash-messages .alert {
	position: relative;
}

.flash-messages .close-btn {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}

.dictinaries_menu {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.dictionaryList_td {
	width: 369px;
}

.td_editWord {
	height: auto;
	width: 170px;
}

.td_editWord button {
	margin-top: 10px;
	margin-bottom: 10px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

table {
	width: 100%;
	border-collapse: collapse;
}

/* Стили для всплывающей подсказки */
.telegrammTooltip {
	width: 100%;
	display: none;
	/* position: absolute; */
	background-color: #303030;
	border: 1px solid #303030;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 999;
}

.telegrammTooltip .closeTooltip {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}


#overlayImg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3); /* затемнение */
	z-index: 9999; /* устанавливаем поверх остальных элементов */
}

#enlargedImg {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	height: 250px;
	z-index: 10000; /* устанавливаем поверх затемнения */
}

#enlargedAudio {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* width: 100px;
	height: 100px; */
	z-index: 10000; /* устанавливаем поверх затемнения */
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modal {
	position: fixed;
	background-color: #303030;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 33%;
	/* Ширина модального окна */
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1001;
}

.modal p {
	margin-bottom: 20px;
	border-radius: 8px;
}

.closeButton_popup {
	width: 100%;
}

.myDiv {
	display: none;
	height: auto;
}

.footer-content {
	display: flex;
	background-color: #222222;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 20px 60px;
	align-items: center;
	justify-content: flex-end;
}

.author {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-left: 60px;
}

.author_img {
	width: 30px;
	margin-left: 20px;
}

.dictionaryList_wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border: solid 2px #303030;
	border-radius: 8px;
	margin-bottom: 2px;
	padding: 16px;
}

.dictionaryList_item {
	width: 45%;
	overflow: auto;
	display: flex;
	align-items: flex-start;
	overflow: hidden;
	/* height: 50px; */

	/* resize: vertical; */
}

.dictionaryList_wrap> :nth-child(2) {
	/* margin-right: 0px; */
}


.dictionaryList_item_button {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-evenly;
	/* padding-bottom: 10px; */
}

.dictionaryList_item_button button {
	margin-top: 0;
	margin-bottom: 10px;
	min-width: 100%;

}

/* Для Webkit (Chrome, Safari, Opera) */
/* Ширина и цвет полосы прокрутки */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

/* Для Firefox */
/* Ширина и цвет полосы прокрутки */
::-moz-scrollbar {
	width: 12px;
}

::-moz-scrollbar-track {
	background-color: #f1f1f1;
}

::-moz-scrollbar-thumb {
	background-color: #888;
}

::-moz-scrollbar-thumb:hover {
	background-color: #555;
}

/* Для Internet Explorer и Edge */
/* Ширина и цвет полосы прокрутки */
::-ms-scrollbar {
	width: 12px;
}

::-ms-scrollbar-track {
	background-color: #f1f1f1;
}

::-ms-scrollbar-thumb {
	background-color: #888;
}

::-ms-scrollbar-thumb:hover {
	background-color: #555;
}







@media screen and (min-width: 768px) and (max-width: 1023px) {

		body {
			width: 100%;
			font-family: Arial, sans-serif;
			font-size: 2vw;
			color: #eaeaea;
			margin: 0 auto;
			/* font-family: 'Roboto', sans-serif; */
			background-color: #303030;
		}

		a {
			/* color: #eaeaea; */
			color: #C1AA96;
			text-decoration: none;
		}

		a:hover {
			color: #febb38;
			text-decoration: none;
		}

		.menu {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			background-color: #222222;
			padding: 1.96vw 2.35vw;
		}

		.container {
			margin: 0 auto;
			padding: 0;
			border: 0.20vw solid #222222;
			display: flex;
			flex-direction: column;
			align-content: center;
			flex-wrap: wrap;
		}

		h1 {
			/* margin-top: 1.96vw; */
		}

		h1,
		h2,
		h3 {
			text-align: center;
			margin-bottom: 3.91vw;
		}

		button {
			padding: 0.98vw 1.96vw;
			background-color: #535353;
			font-size: 2vw;
			color: #fff;
			border: none;
			border-radius: 0.78vw;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}

		button:hover {
			background-color: #3b444b;
		}

		.login-button,
		.register-button {
			width: 100%;
		}

		.forgot-password {
			font-size: 2vw;
			margin-left: auto;
			margin-bottom: 3.91vw;
		}

		.deleteProfil {
			font-size: 2vw;
			margin-left: 1.96vw;
			display: flex;
			justify-content: flex-end;
		}

		.login,
		.form-register,
		.password {
			width: 46.92vw;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			padding: 3.13vw;
			border: 0.20vw solid #222222;
			background-color: #2f4f4f;
			border-radius: 0.78vw;
		}

		.login input,
		.form-register input,
		.password input {
			width: 100%;
			margin-bottom: 1.96vw;
			appearance: none;
			font-size: 2vw;
		}

		.login label,
		.form-register label,
		.password label {
			margin-bottom: 0.98vw;
		}

		.newDictonaries {
			margin-bottom: 5.87vw;
		}

		.newDictonaries form {
			display: flex;
			flex-direction: column;
		}

		.newDictonaries label {
			margin-bottom: 0.98vw;
		}

		.newDictonaries input {
			font-size: 2vw;
		}

		input,
		textarea {
			padding: 1.17vw;
			margin-bottom: 1.96vw;
			border: 0.10vw solid #222222;
			border-radius: 0.78vw;
			font-size: 2vw;
		}

		textarea {
			width: 100%;
			min-height: 9.78vw;
			resize: vertical;
			overflow: hidden;
		}

		.admin_input {
			width: 100%;
		}

		.container .last-input {
			margin-bottom: 5.87vw;
		}

		.wrapper {
			background-color: #2f4f4f;
			width: 100%;
			border-radius: 0.78vw;
			padding: 1.56vw;
			/* padding-bottom: 3.91vw; */
		}

		.balanceInfo {
			margin-bottom: 5.87vw;
			border-radius: 0.78vw;
			border: 0.20vw solid #303030;
			padding: 0.98vw;
			width: 100%;
		}

		.purchase {
			width: 100%;
			margin-left: auto;
			margin-bottom: 1.96vw;
			text-align: right;
			display: flex;
			justify-content: flex-end;
		}

		.newDictonaries_none {
			display: none;
		}

		.profilInfo {
			display: flex;
			flex-direction: column;
		}

		.profilInfo input {
			margin-bottom: 1.96vw;
			font-size: 2vw;
		}

		.profilInfo label {
			margin-bottom: 0.98vw;
		}

		.delete-button {
			all: unset;
		}

		.delete-button a {
			cursor: pointer;
		}

		.delete-button:hover {
			all: unset;
		}

		/* .header_h1 { display: flex; flex-direction: column; align-items: center; } */
		/* .balanceInfo p { margin-bottom: 0.98vw; } */
		.userInfo {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1.96vw;
		}

		.userInfo label {
			min-width: 7.82vw;
		}

		.updateAlerts {
			display: flex;
		}

		.updateAlerts_checkbox {
			margin-right: 1.96vw;
		}

		.edit-button,
		.create-button {
			margin-top: 1.96vw;
			min-width: 100%;
		}

		.logout {
			margin-left: auto;
			margin-top: 7.82vw;
		}

		.dictionary {
			margin-bottom: 1.96vw;
			padding: 0.98vw;
			border: 0.10vw solid #ccc;
			border-radius: 0.49vw;
			display: flex;
			flex-direction: column;
		}

		.dictionaries_h2 {
			text-align: left;
			margin-bottom: 0;
			color: #eaeaea;
		}

		.dictionary_form {
			margin-bottom: 1.96vw;
		}

		.updateDictionary textarea {
			margin-bottom: 1.96vw;
		}

		.updateWord textarea {
			margin-bottom: 1.96vw;
		}

		.updateWord label {
			display: inline-block;
			margin-bottom: 0.98vw;
		}

		.updateDictionary_label {
			min-width: 9.78vw;
			margin-bottom: 0.98vw;
		}

		.studyWord {
			display: flex;
			flex-direction: column;
			margin-top: 1.96vw;
		}

		.studyWord label {
			display: inline-block;
			margin-bottom: 0.98vw;
			color: #febb38
		}

		.studyWord input {
			display: inline-block;
			margin-bottom: 1.96vw;
		}

		.flash-messages .alert {
			position: relative;
		}

		.flash-messages .close-btn {
			position: absolute;
			top: 0.49vw;
			right: 0.98vw;
			cursor: pointer;
		}

		.dictinaries_menu {
			display: flex;
			justify-content: space-around;
			margin-bottom: 1.96vw;
		}

		.dictionaryList_td {
			width: 36.07vw;
		}

		.td_editWord {
			height: auto;
			width: 16.62vw;
		}

		.td_editWord button {
			margin-top: 0.98vw;
			margin-bottom: 0.98vw;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		th,
		td {
			padding: 0.78vw;
			text-align: left;
			border-bottom: 0.10vw solid #ddd;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		/* Стили для всплывающей подсказки */
		.telegrammTooltip {
			width: 100%;
			display: none;
			/* position: absolute; */
			background-color: #303030;
			border: 0.10vw solid #303030;
			padding: 0.98vw;
			border-radius: 0.78vw;
			box-shadow: 0 0.20vw 0.49vw rgba(0, 0, 0, 0.1);
			z-index: 999;
		}

		.telegrammTooltip .closeTooltip {
			display: inline-block;
			width: 100%;
			margin-top: 1.96vw;
		}

		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 1000;
		}

		.modal {
			position: fixed;
			background-color: #303030;
			top: 25%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			/* Ширина модального окна */
			padding: 1.96vw;
			border-radius: 0.78vw;
			box-shadow: 0 0.20vw 0.39vw rgba(0, 0, 0, 0.1);
			z-index: 1001;
		}

		.modal p {
			margin-bottom: 1.96vw;
			border-radius: 0.78vw;
		}

		.closeButton_popup {
			width: 100%;
		}

		.myDiv {
			display: none;
			height: auto;
		}

		.footer-content {
			display: flex;
			background-color: #222222;
			border-bottom-left-radius: 0.78vw;
			border-bottom-right-radius: 0.78vw;
			padding: 1.96vw 5.87vw;
			align-items: center;
			justify-content: flex-end;
		}

		.author {
			display: flex;
			align-items: flex-end;
			;
			justify-content: space-between;
			margin-left: 5.87vw;
		}

		.author_img {
			width: 2.93vw;
			margin-left: 1.96vw;
		}

		.dictionaryList_wrap {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			border: solid 0.10vw #ccc;
			border-radius: 0.78vw;
			margin-bottom: 0.20vw;
			padding: 1.56vw;
		}

		.dictionaryList_item {
			overflow: auto;
			display: flex;
		}

		.dictionaryList_wrap> :nth-child(2) {
			margin-right: 0.00vw;
		}

		.dictionaryList_item_button {
			width: 100%;
			padding-left: 0.98vw;
			padding-right: 0.98vw;
			display: flex;
			justify-content: space-evenly;
			/* padding-bottom: 0.98vw; */
		}

		.dictionaryList_item_button button {
			margin-top: 0;
			margin-bottom: 0.98vw;
			min-width: 100%;
		}


}


@media screen and (min-width: 340px) and (max-width: 767px) {

		body {
			width: 100%;
			font-family: Arial, sans-serif;
			font-size: 3vw;
			color: #eaeaea;
			margin: 0 auto;
			/* font-family: 'Roboto', sans-serif; */
			background-color: #303030;
		}

		a {
			/* color: #eaeaea; */
			color: #C1AA96;
			text-decoration: none;
		}

		a:hover {
			color: #febb38;
			text-decoration: none;
		}

		.menu {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			background-color: #222222;
			padding: 2.61vw 3.13vw;
		}

		.container {
			margin: 0 auto;
			padding: 0;
			border: 0.26vw solid #222222;
			display: flex;
			flex-direction: column;
			align-content: center;
			flex-wrap: wrap;
		}

		h1 {
			/* margin-top: 2.61vw; */
		}

		h1,
		h2,
		h3 {
			text-align: center;
			margin-bottom: 5.22vw;
		}

		button {
			padding: 1.30vw 2.61vw;
			background-color: #535353;
			font-size: 3vw;
			color: #fff;
			border: none;
			border-radius: 1.04vw;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}

		button:hover {
			background-color: #3b444b;
		}

		.login-button,
		.register-button {
			width: 100%;
		}

		.forgot-password {
			font-size: 3vw;
			margin-left: auto;
			margin-bottom: 5.22vw;
		}

		.deleteProfil {
			font-size: 2.8vw;
			margin-left: 2.61vw;
			display: flex;
			justify-content: flex-end;
		}

		.login,
		.form-register,
		.password {
			width: 62.58vw;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			padding: 4.17vw;
			border: 0.26vw solid #222222;
			background-color: #2f4f4f;
			border-radius: 1.04vw;
		}

		.login input,
		.form-register input,
		.password input {
			width: 100%;
			margin-bottom: 2.61vw;
			appearance: none;
			font-size: 3vw;
		}

		.login label,
		.form-register label,
		.password label {
			margin-bottom: 1.30vw;
		}

		.newDictonaries {
			margin-bottom: 7.82vw;
		}

		.newDictonaries form {
			display: flex;
			flex-direction: column;
		}

		.newDictonaries label {
			margin-bottom: 1.30vw;
		}

		.newDictonaries input {
			font-size: 3vw;
		}

		input,
		textarea {
			padding: 1.56vw;
			margin-bottom: 2.61vw;
			border: 0.13vw solid #222222;
			border-radius: 1.04vw;
			font-size: 3vw;
		}

		textarea {
			width: 100%;
			min-height: 13.04vw;
			resize: vertical;
			overflow: hidden;
		}

		.admin_input {
			width: 100%;
		}

		.container .last-input {
			margin-bottom: 7.82vw;
		}

		.wrapper {
			background-color: #2f4f4f;
			width: 100%;
			border-radius: 1.04vw;
			padding: 2.09vw;
			/* padding-bottom: 5.22vw; */
		}

		.balanceInfo {
			margin-bottom: 7.82vw;
			border-radius: 1.04vw;
			border: 0.26vw solid #303030;
			padding: 1.30vw;
			width: 100%;
		}

		.purchase {
			width: 100%;
			margin-left: auto;
			margin-bottom: 2.61vw;
			text-align: right;
			display: flex;
			justify-content: flex-end;
		}

		.newDictonaries_none {
			display: none;
		}

		.profilInfo {
			display: flex;
			flex-direction: column;
		}

		.profilInfo input {
			margin-bottom: 2.61vw;
			font-size: 3vw;
		}

		.profilInfo label {
			margin-bottom: 1.30vw;
		}

		.delete-button {
			all: unset;
		}

		.delete-button a {
			cursor: pointer;
		}

		.delete-button:hover {
			all: unset;
		}

		/* .header_h1 { display: flex; flex-direction: column; align-items: center; } */
		/* .balanceInfo p { margin-bottom: 1.30vw; } */
		.userInfo {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 2.61vw;
		}

		.userInfo label {
			min-width: 10.43vw;
		}

		.updateAlerts {
			display: flex;
		}

		.updateAlerts_checkbox {
			margin-right: 2.61vw;
		}

		.edit-button,
		.create-button {
			margin-top: 2.61vw;
			min-width: 100%;
		}

		.logout {
			margin-left: auto;
			margin-top: 10.43vw;
		}

		.dictionary {
			margin-bottom: 2.61vw;
			padding: 1.30vw;
			border: 0.13vw solid #ccc;
			border-radius: 0.65vw;
			display: flex;
			flex-direction: column;
		}

		.dictionaries_h2 {
			text-align: left;
			margin-bottom: 0;
			color: #eaeaea;
		}

		.dictionary_form {
			margin-bottom: 2.61vw;
		}

		.updateDictionary textarea {
			margin-bottom: 2.61vw;
		}

		.updateWord textarea {
			margin-bottom: 2.61vw;
		}

		.updateWord label {
			display: inline-block;
			margin-bottom: 1.30vw;
		}

		.updateDictionary_label {
			min-width: 13.04vw;
			margin-bottom: 1.30vw;
		}

		.studyWord {
			display: flex;
			flex-direction: column;
			margin-top: 2.61vw;
		}

		.studyWord label {
			display: inline-block;
			margin-bottom: 1.30vw;
			color: #febb38
		}

		.studyWord input {
			display: inline-block;
			margin-bottom: 2.61vw;
		}

		.flash-messages .alert {
			position: relative;
		}

		.flash-messages .close-btn {
			position: absolute;
			top: 0.65vw;
			right: 1.30vw;
			cursor: pointer;
		}

		.dictinaries_menu {
			display: flex;
			justify-content: space-around;
			margin-bottom: 2.61vw;
		}

		.dictionaryList_td {
			width: 48.11vw;
		}

		.td_editWord {
			height: auto;
			width: 22.16vw;
		}

		.td_editWord button {
			margin-top: 1.30vw;
			margin-bottom: 1.30vw;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		th,
		td {
			padding: 1.04vw;
			text-align: left;
			border-bottom: 0.13vw solid #ddd;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		/* Стили для всплывающей подсказки */
		.telegrammTooltip {
			width: 100%;
			display: none;
			/* position: absolute; */
			background-color: #303030;
			border: 0.13vw solid #303030;
			padding: 1.30vw;
			border-radius: 1.04vw;
			box-shadow: 0 0.26vw 0.65vw rgba(0, 0, 0, 0.1);
			z-index: 999;
		}

		.telegrammTooltip .closeTooltip {
			display: inline-block;
			width: 100%;
			margin-top: 2.61vw;
		}

		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 1000;
		}

		.modal {
			position: fixed;
			background-color: #303030;
			top: 25%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			/* Ширина модального окна */
			padding: 2.61vw;
			border-radius: 1.04vw;
			box-shadow: 0 0.26vw 0.52vw rgba(0, 0, 0, 0.1);
			z-index: 1001;
		}

		.modal p {
			margin-bottom: 2.61vw;
			border-radius: 1.04vw;
		}

		.closeButton_popup {
			width: 100%;
		}

		.myDiv {
			display: none;
			height: auto;
		}

		.footer-content {
			display: flex;
			background-color: #222222;
			border-bottom-left-radius: 1.04vw;
			border-bottom-right-radius: 1.04vw;
			padding: 2.61vw 7.82vw;
			align-items: center;
			justify-content: flex-end;
		}

		.author {
			display: flex;
			align-items: flex-end;
			;
			justify-content: space-between;
			margin-left: 7.82vw;
		}

		.author_img {
			width: 3.91vw;
			margin-left: 2.61vw;
		}

		.dictionaryList_wrap {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			border: solid 0.13vw #ccc;
			border-radius: 1.04vw;
			margin-bottom: 0.26vw;
			padding: 2.09vw;
		}

		.dictionaryList_item {
			overflow: auto;
			display: flex;
		}

		.dictionaryList_wrap> :nth-child(2) {
			margin-right: 0.00vw;
		}

		.dictionaryList_item_button {
			width: 100%;
			padding-left: 1.30vw;
			padding-right: 1.30vw;
			display: flex;
			justify-content: space-evenly;
			/* padding-bottom: 1.30vw; */
		}

		.dictionaryList_item_button button {
			margin-top: 0;
			margin-bottom: 1.30vw;
			min-width: 100%;
		}
}



@media screen and (max-width: 339px) {
		body {
			width: 100%;
			font-family: Arial, sans-serif;
			font-size: 4.71vw;
			color: #eaeaea;
			margin: 0 auto;
			/* font-family: 'Roboto', sans-serif; */
			background-color: #303030;
		}

		a {
			/* color: #eaeaea; */
			color: #C1AA96;
			text-decoration: none;
		}

		a:hover {
			color: #febb38;
			text-decoration: none;
		}

		.menu {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			background-color: #222222;
			padding: 5.88vw 7.06vw;
		}

		.container {
			margin: 0 auto;
			padding: 0;
			border: 0.59vw solid #222222;
			display: flex;
			flex-direction: column;
			align-content: center;
			flex-wrap: wrap;
		}

		h1 {
			/* margin-top: 5.88vw; */
		}

		h1,
		h2,
		h3 {
			text-align: center;
			margin-bottom: 11.76vw;
		}

		button {
			padding: 0.94vw 2.88vw;
			background-color: #535353;
			font-size: 3.71vw;
			color: #fff;
			border: none;
			border-radius: 2.35vw;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}

		button:hover {
			background-color: #3b444b;
		}

		.login-button,
		.register-button {
			width: 100%;
		}

		.forgot-password {
			font-size: 4.71vw;
			margin-left: auto;
			margin-bottom: 11.76vw;
		}

		.deleteProfil {
			font-size: 4.71vw;
			margin-left: 5.88vw;
			display: flex;
			justify-content: flex-end;
		}

		.login,
		.form-register,
		.password {
			width: 141.18vw;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			padding: 9.41vw;
			border: 0.59vw solid #222222;
			background-color: #2f4f4f;
			border-radius: 2.35vw;
		}

		.login input,
		.form-register input,
		.password input {
			width: 100%;
			margin-bottom: 5.88vw;
			appearance: none;
			font-size: 4.71vw;
		}

		.login label,
		.form-register label,
		.password label {
			margin-bottom: 2.94vw;
		}

		.newDictonaries {
			margin-bottom: 17.65vw;
		}

		.newDictonaries form {
			display: flex;
			flex-direction: column;
		}

		.newDictonaries label {
			margin-bottom: 2.94vw;
		}

		.newDictonaries input {
			font-size: 4.71vw;
		}

		input,
		textarea {
			padding: 3.53vw;
			margin-bottom: 5.88vw;
			border: 0.29vw solid #222222;
			border-radius: 2.35vw;
			font-size: 4.71vw;
		}

		textarea {
			width: 100%;
			min-height: 29.41vw;
			resize: vertical;
			overflow: hidden;
		}

		.admin_input {
			width: 100%;
		}

		.container .last-input {
			margin-bottom: 17.65vw;
		}

		.wrapper {
			background-color: #2f4f4f;
			width: 100%;
			border-radius: 2.35vw;
			padding: 4.71vw;
			/* padding-bottom: 11.76vw; */
		}

		.balanceInfo {
			margin-bottom: 17.65vw;
			border-radius: 2.35vw;
			border: 0.59vw solid #303030;
			padding: 2.94vw;
			width: 100%;
		}

		.purchase {
			width: 100%;
			margin-left: auto;
			margin-bottom: 5.88vw;
			text-align: right;
			display: flex;
			justify-content: flex-end;
		}

		.newDictonaries_none {
			display: none;
		}

		.profilInfo {
			display: flex;
			flex-direction: column;
		}

		.profilInfo input {
			margin-bottom: 5.88vw;
			font-size: 4.71vw;
		}

		.profilInfo label {
			margin-bottom: 2.94vw;
		}

		.delete-button {
			all: unset;
		}

		.delete-button a {
			cursor: pointer;
		}

		.delete-button:hover {
			all: unset;
		}

		/* .header_h1 { display: flex; flex-direction: column; align-items: center; } */
		/* .balanceInfo p { margin-bottom: 2.94vw; } */
		.userInfo {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 5.88vw;
		}

		.userInfo label {
			min-width: 23.53vw;
		}

		.updateAlerts {
			display: flex;
		}

		.updateAlerts_checkbox {
			margin-right: 5.88vw;
		}

		.edit-button,
		.create-button {
			margin-top: 5.88vw;
			min-width: 100%;
		}

		.logout {
			margin-left: auto;
			margin-top: 23.53vw;
		}

		.dictionary {
			margin-bottom: 5.88vw;
			padding: 2.94vw;
			border: 0.29vw solid #ccc;
			border-radius: 1.47vw;
			display: flex;
			flex-direction: column;
		}

		.dictionaries_h2 {
			text-align: left;
			margin-bottom: 0;
			color: #eaeaea;
		}

		.dictionary_form {
			margin-bottom: 5.88vw;
		}

		.updateDictionary textarea {
			margin-bottom: 5.88vw;
		}

		.updateWord textarea {
			margin-bottom: 5.88vw;
		}

		.updateWord label {
			display: inline-block;
			margin-bottom: 2.94vw;
		}

		.updateDictionary_label {
			min-width: 29.41vw;
			margin-bottom: 2.94vw;
		}

		.studyWord {
			display: flex;
			flex-direction: column;
			margin-top: 5.88vw;
		}

		.studyWord label {
			display: inline-block;
			margin-bottom: 2.94vw;
			color: #febb38
		}

		.studyWord input {
			display: inline-block;
			margin-bottom: 5.88vw;
		}

		.flash-messages .alert {
			position: relative;
		}

		.flash-messages .close-btn {
			position: absolute;
			top: 1.47vw;
			right: 2.94vw;
			cursor: pointer;
		}

		.dictinaries_menu {
			display: flex;
			justify-content: space-around;
			margin-bottom: 5.88vw;
		}

		.dictionaryList_td {
			width: 108.53vw;
		}

		.td_editWord {
			height: auto;
			width: 50.00vw;
		}

		.td_editWord button {
			margin-top: 2.94vw;
			margin-bottom: 2.94vw;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		th,
		td {
			padding: 2.35vw;
			text-align: left;
			border-bottom: 0.29vw solid #ddd;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		/* Стили для всплывающей подсказки */
		.telegrammTooltip {
			width: 100%;
			display: none;
			/* position: absolute; */
			background-color: #303030;
			border: 0.29vw solid #303030;
			padding: 2.94vw;
			border-radius: 2.35vw;
			box-shadow: 0 0.59vw 1.47vw rgba(0, 0, 0, 0.1);
			z-index: 999;
		}

		.telegrammTooltip .closeTooltip {
			display: inline-block;
			width: 100%;
			margin-top: 5.88vw;
		}

		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 1000;
		}

		.modal {
			position: fixed;
			background-color: #303030;
			top: 25%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			/* Ширина модального окна */
			padding: 5.88vw;
			border-radius: 2.35vw;
			box-shadow: 0 0.59vw 1.18vw rgba(0, 0, 0, 0.1);
			z-index: 1001;
		}

		.modal p {
			margin-bottom: 5.88vw;
			border-radius: 2.35vw;
		}

		.closeButton_popup {
			width: 100%;
		}

		.myDiv {
			display: none;
			height: auto;
		}

		.footer-content {
			display: flex;
			background-color: #222222;
			border-bottom-left-radius: 2.35vw;
			border-bottom-right-radius: 2.35vw;
			padding: 5.88vw 17.65vw;
			align-items: center;
			justify-content: flex-end;
		}

		.author {
			display: flex;
			align-items: flex-end;
			;
			justify-content: space-between;
			margin-left: 17.65vw;
		}

		.author_img {
			width: 8.82vw;
			margin-left: 5.88vw;
		}

		.dictionaryList_wrap {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			border: solid 0.29vw #ccc;
			border-radius: 2.35vw;
			margin-bottom: 0.59vw;
			padding: 4.71vw;
		}

		.dictionaryList_item {
			overflow: auto;
			display: flex;
		}

		.dictionaryList_wrap> :nth-child(2) {
			margin-right: 0.00vw;
		}

		.dictionaryList_item_button {
			width: 100%;
			padding-left: 2.94vw;
			padding-right: 2.94vw;
			display: flex;
			justify-content: space-evenly;
			/* padding-bottom: 2.94vw; */
		}

		.dictionaryList_item_button button {
			margin-top: 0;
			margin-bottom: 2.94vw;
			min-width: 100%;
		}
}
